# Shwary Payment API
SHWARY_API_KEY=
SHWARY_SITE_ID=
SHWARY_SECRET=
SHWARY_MERCHANT_KEY=
SHWARY_MERCHANT_ID=

# Telegram Bot Config
TELEGRAM_BOT_TOKEN=
TELEGRAM_ADMIN_IDS=

# Firebase Admin SDK Credentials
FIREBASE_PROJECT_ID=
FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY=

# Server Configuration
PORT=3000
NODE_ENV=development
APP_URL=
JWT_SECRET=super_secret_jwt_key
GEMINI_API_KEY=

# Frontend Vite Variables
VITE_FCM_VAPID_KEY=
