# Server Config
PORT=3000
NODE_ENV=development
API_URL=https://ais-pre-htongq6rmqzf7q2pg4r7vz-437132868753.europe-west2.run.app
BASE_URL=https://ais-pre-htongq6rmqzf7q2pg4r7vz-437132868753.europe-west2.run.app
APP_URL=https://ais-pre-htongq6rmqzf7q2pg4r7vz-437132868753.europe-west2.run.app

# Firebase Admin SDK credentials
FIREBASE_PROJECT_ID=
FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY=

# JSON Web Token Secret
JWT_SECRET=super_secret_jwt_key

# Shwary API
SHWARY_MERCHANT_KEY=
SHWARY_MERCHANT_ID=

# Gemini API Key
GEMINI_API_KEY=

# Client Web Push VAPID key for Firebase Cloud Messaging
VITE_FCM_VAPID_KEY=
