# Server Config
PORT=3000
NODE_ENV=development

# Firebase Admin SDK credentials
FIREBASE_PROJECT_ID=
FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY=

# JSON Web Token Secret
JWT_SECRET=super_secret_jwt_key
